name: Build KrbRelayUp

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Restore NuGet packages
        run: nuget restore KrbRelayUp.sln

      - name: Build Release
        run: msbuild KrbRelayUp.sln /p:Configuration=Release /p:Platform="Any CPU"

      - name: Upload KrbRelayUp.exe
        uses: actions/upload-artifact@v4
        with:
          name: KrbRelayUp
          path: KrbRelayUp\bin\Release\KrbRelayUp.exe
